@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

body{
    line-height: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #222;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
    width: 100%;
    border: 0;
}

a{
    text-decoration: none;
}

.hide{
    /* span */
    display: block;
    position: absolute;
    top: -99999px;
    left: -99999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

fieldset{
    border: 0;
}

legend{
    display: none;
}

input{
    vertical-align: top;
    font-family: 'Noto Sans KR', sans-serif;
}

/* reset end */

.wrap{
    position: relative;
    width: 100%;
}

.content{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 425px;
}

h2{
    margin: 50px 0 20px;
    line-height: 1em;
    font-size: 40px;
    text-align: center;
}

h3{
    margin-bottom: 5px;
}

.box{
    padding: 10px;
    box-sizing: border-box;
    /* background-color: #eee; */
}

.int{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 14px;
}

.btn_area{
    margin: 20px 0 20px;
}

.btn{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #ccc;
}

.msg{
    margin-top: 5px;
    color: red;
}
